<div class="container h-100 d-flex justify-content-center align-items-center">
  <div class="home">
      <ul>
        <div class="titleHome">Welcome to Insights for Spotify—a website designed to get your Spotify Stats.</div>
        <div class="functions">
          <ul>
            <li><a>- View your top tracks and artists from:</a></li>
            <li><a>- Past 4 weeks</a></li>
            <li><a>- Past 6 months</a></li>
            <li><a>- All time</a></li>
          </ul>
        </div>

        <div class="log">Login to get started!</div>
        <button class="nav-link" (click)="login()">Login</button>
      </ul>
  </div>
</div>