body {
    overflow: hidden;
    overflow-y: scroll;
}

@font-face {
    font-family: Varela_Round;
    src: url('assets/Varela_Round/VarelaRound-Regular.ttf') format('truetype');
    font-weight: normal;
    font-size: normal;
}
